### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
Purchase_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(Purchase_csv)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#player count 
#drop the duplicates name 
#select and count the SN 
Total_player_number =(purchase_data["SN"]).drop_duplicates().count() 

#create the table
pd.DataFrame({"Total Players":[Total_player_number]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# unique items count 
Unique_Items =len(purchase_data["Item ID"].unique())
Unique_Items

183

In [4]:
# average price round to 2 decimal place

Average_Price = "${}".format(round(purchase_data["Price"].mean() , 2 ))

Average_Price

'$3.05'

In [5]:

# Total number of purchases
Total_Number = purchase_data["Price"].count()
Total_Number

780

In [6]:
# Total revenue
Total = purchase_data["Price"].sum()
Total_Revenue = "${}".format(Total)
Total_Revenue

'$2379.77'

In [7]:

#summary data frame 
d = { 
     "Number of Unique Items":[Unique_Items],
     "Average Price":[Average_Price],
     "Number of Purchases" : [Total_Number],
     "Total Revenue" : [Total_Revenue]
}

Summary_Table = pd.DataFrame ( d ,columns = ["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"])

Summary_Table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
# total Gender count
Total_Gender_Count = purchase_data.groupby("Gender").nunique()["SN"]
Total_Gender_Count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [9]:
#total percentage count of Male
Total_Percentage = round( Total_Gender_Count / Total_player_number * 100 , 2)
Total_Percentage

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [10]:
#create the DataFrame

Gender_Demographics = pd . DataFrame( { 
 
    "Total Count" : Total_Gender_Count,
    "Percentage of players":Total_Percentage
})

GenderDataFrame = Gender_Demographics.sort_values("Total Count" , ascending = False)

GenderDataFrame

                       Total Count  Percentage of players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
## Purchasing Analysis (Gender)

# Run basic calculations to obtain purchase count
purchase_count =purchase_data.groupby("Gender")["Purchase ID"].count()
purchase_count

# Run basic calculations to obtain avg. purchase price and formatting
avgpurchaseprice=(purchase_data.groupby("Gender")["Price"].mean())
avg_purchase_price=avgpurchaseprice.map("${:,.2f}".format)
avg_purchase_price

# Run basic calculations to obtain average total purchase by gender and formatting

PvgPurchaseTotal = purchase_data.groupby("Gender")["Price"].sum()
avg_purchase_total = PvgPurchaseTotal.map("${:,.2f}".format)
avg_purchase_total


#Average purchase total by gender and formatting
AvgPurchasePerPerson = PvgPurchaseTotal / Total_Gender_Count
avg_purchase_per_person = AvgPurchasePerPerson.map("${:,.2f}".format)
avg_purchase_per_person

# Create a summary data frame to hold the result

x={
    "Purchase Count":purchase_count,
    "Average Purchase Price":avg_purchase_price,
    "Total Purchase Value":avg_purchase_total,
    "Avg Total Purchase per person":avg_purchase_per_person
}

Summary_Gender_Table= pd.DataFrame (x,columns = ["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per person"])

Summary_Gender_Table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# Establish bins for ages define as 0 to 10,10 to 15
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]

#name of the group
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["segment_age"] = pd.cut(purchase_data["Age"],bins,labels= group_names)

Interval_age = purchase_data.groupby("segment_age")

#total players by age category
total_count_age = Interval_age["SN"].nunique()

# Calculate the numbers and percentages by age group and 
# round the percentage column to two decimal points
percentage_by_age_group = round((total_count_age/Total_player_number)*100,2)

# Create a summary data frame to hold the results and Display Age Demographics Table
Age_Demographics=pd.DataFrame({"Total Count":total_count_age,
                               "Percentage of players":percentage_by_age_group,
                                  
                                  })
Age_Demographics

             Total Count  Percentage of players
segment_age
<10                   24                   4.17
10-14                 41                   7.12
15-19                150                  26.04
20-24                232                  40.28
25-29                 59                  10.24
30-34                 37                   6.42
35-39                 26                   4.51
40+                    7                   1.22

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#calculation to obtain purchase count
purchase_count_age = Interval_age["Purchase ID"].count()

#calculation obtain purchase and formatting with $ sign and round to 2 decimal
avg_purchase_price_age = (Interval_age["Price"].mean()).map("${:,.2f}".format)

#calculate total purchase value by age group and formatting with $ sign and round to 2 decimal
TotalPurchaseValueAge =Interval_age["Price"].sum()

total_purchase_value_age =TotalPurchaseValueAge.map("${:,.2f}".format)

#average purchase per person in the age group and formatting with $ sign and round to 2 decimal
avg_purchase_per_person_age_groupe =(TotalPurchaseValueAge/total_count_age).map("${:,.2f}".format)


#create DataFrame for Purchasing Analysis (Age)
z={
    "Purchase Count":purchase_count_age,
    "Average Purchase Price":avg_purchase_price_age,
    "Total Purchase Value":total_purchase_value_age,
    "Avg Total Purchase per person":avg_purchase_per_person_age_groupe
}

age_group_purchasing_analysis= pd.DataFrame (z,columns = ["Purchase Count",
                                                          "Average Purchase Price",
                                                          "Total Purchase Value",
                                                          "Avg Total Purchase per person"])

age_group_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per person
segment_age,,,,
<10,32,$3.40,$108.96,$4.54
10-14,54,$2.90,$156.60,$3.82
15-19,200,$3.11,$621.56,$4.14
20-24,325,$3.02,$981.64,$4.23
25-29,77,$2.88,$221.42,$3.75
30-34,52,$2.99,$155.71,$4.21
35-39,33,$3.40,$112.35,$4.32
40+,7,$3.08,$21.53,$3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# group by spender
spender_purchase = purchase_data.groupby("SN")

# group total count per spender
purchase_count_spender = spender_purchase["Purchase ID"].count()

# group by average purchase price per spender
avg_purchase_price_spender = (spender_purchase["Price"].mean()).map("${:,.2f}".format)

#group by total purchase value per spender 
total_purchase_spender =spender_purchase["Price"].sum()



#create the summary DataFrame 

v={
    "Purchase Count":purchase_count_spender,
    "Average Purchase Price":avg_purchase_price_spender,
    "Total Purchase Value":total_purchase_spender
} 

summary_top_spender = pd.DataFrame (v,columns = ["Purchase Count",
                                                 "Average Purchase Price",
                                                 "Total Purchase Value"])

# sort value by highest total purchase top 5
summary_top_spender.sort_values("Total Purchase Value" , ascending = False).head()

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
# Create new data frame with new columns 
New_column_list = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by item id and item name 
item1 = New_column_list.groupby(["Item ID","Item Name"])

# number of times an item has been purchased 
purchase_item = item1["Price"].count()

# purchase value per item 
purchase_per_items= item1["Price"].sum()

# Find individual item price
item_price = purchase_per_items/purchase_item

# Create data frame with new column
MostPopularItems = pd.DataFrame({"Purchase Count": purchase_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_per_items})

# Sort in descending to have the top 5
most_popular_items= MostPopularItems.sort_values(["Purchase Count"], ascending=False).head()

#formatting with $ sign
most_popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [16]:
# sort the previous table by Total purchase value  to have the most profitable items
most_popular_items = MostPopularItems.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Formatting
most_popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})